<div class="container row d-flex justify-content-center py-5 ml-5 mt-5">
    <div class="col-md-2 d-flex justify-content-center">
        <a href="https://github.com/Chucky22Mendoza/COVID-19.git" target="_blank" class="h1"><span
                style="font-size: 180px;" class="fa fa-github-square"></span></a>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <ul>
            <li class="text-light h4">Author: Jesús Mendoza Verduzco</li>
            <li class="text-light h4">Email: loginlock22@gmail.com</li>
            <li class="text-light h4">Github: Chucky22Mendoza</li>
            <li class="text-light h4"><a href="https://covid19api.com/" target="_blank" class="text-light">API: covid19api</a></li>
        </ul>
    </div>
</div>